html,
body,
header,
main,
footer,
div,
h1,
h2,
h3,
h4,
p,
span,
ul,
li,
table,
tbody,
thead,
tr,
td,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto",
    sans-serif;
  overflow: auto;
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  outline: none;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}